/* Project stylesheet for the entire project webpage */

/* Display menu horizontally */
li.h_menu {display: inline}

/* Table Formatting */
table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 2px; 
    empty-cells: show;
}

table {
    width: 100%;
}

th {
    height:50px;
    background-color: rgb(81, 115, 148);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.gantt_bh {
    background-color: teal;
}

.gantt_dd {
    background-color: darkorange;
}

.gantt_jt {
    background-color: darkseagreen;
}

.gantt_ta {
    background-color: lightgreen;
}

/* Center body on page with border */
body {
    width: 950px; 
    border: 2px solid black; 
    padding: 10px 30px; 
    overflow: scroll; 
    margin: auto;
    padding-top: 60px;
}

/* So navbar doesn't cover top of page content */
@media (max-width:979px){
    body{
        padding-top:0px;
    }
}

/* Navbar */
.navbar-brand {
    padding-right: 10px;
}

/* Align user label */
.text_label {
    font-weight: bold;
    float: left;
    width: 120px;
    text-align: right;
    padding: 10px 10px 0px 10px;
}

/* Align user input */
.text_input {
    width: 150px;
    text-align: left;
    padding: 0px 10px 0px 10px;
}

/* Divided blocks padding */
div {
    padding:    10px 0px;
}


/* Legend formatting */
legend {
    color: white;
    font-weight: bold;
    background-color: slategray;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}


/* Text area resize */
textarea {
    width: 400px;
    height: 250px;
}

/* Submit button format */
#submit {
    background-color: green;
    color: whitesmoke; 
    height: 25px;
    border-radius: 5px;
    
}
#submit:active {
    background: darkslategray;
    color: whitesmoke;
    height: 25px;
    border-radius: 5px;
}

/* Used random button generator https://www.bestcssbuttongenerator.com/#/2 */
#request_access {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
#request_access:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
#request_access:active {
	position:relative;
	top:1px;
}

.down_arrow {
    background: url("../images/call_station_downarrow.png");
    background-size: 80px;
    display: block;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.down_arrow:hover {
    background-image: url("../images/call_station_downarrow_hover.png");    
}

.down_arrow:active {
    background-image: url("../images/call_station_downarrow_hover.png");
    background-color: lightgreen;
}

.up_arrow {
    background: url("../images/call_station_uparrow.png");
    background-size: 80px;
    display: flex;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.up_arrow:hover {
    background-image: url("../images/call_station_uparrow_hover.png");    
}

.up_arrow:active {
    background-image: url("../images/call_station_uparrow_hover.png");
    background-color: lightgreen;
}

/* Add box shadow to the figure and images */
img {
    border-radius:25px;
}

#queue {
    border: 2px solid black; 

}

.elevator_door1, .elevator_door2, .elevator_door3 {
    width: 83px; 
    height: 108px;
    background: url('../images/elevator_door_sprite.png') -12px -10px;
    display: inline-block;
}

.elevator_door_open1, .elevator_door_open2, .elevator_door_open3 {
    width: 81px; height: 108px;
    background: url('css_sprites.png') -113px -10px;
    display: inline-block;
}